{{/* Display author list with your name bolded and linked */}}

{{ $taxonomy := "authors" }}
{{ $myName := "Sen Zhao" }}
{{ with .Param $taxonomy }}
  {{ range $index, $value := . }}
    {{- $profile_page := site.GetPage (printf "/%s/%s" $taxonomy (. | urlize)) -}}
    {{- $name := $profile_page.Params.name | default ($value | markdownify) -}}
    {{- if gt $index 0 }}, {{ end -}}
    <span>
      {{- with $profile_page -}}
        {{- if eq $name $myName }}
          <strong><a href="{{ .RelPermalink }}">{{ $name }}</a></strong>
        {{- else }}
          <a href="{{ .RelPermalink }}">{{ $name }}</a>
        {{- end }}
      {{- else -}}
        {{- if eq $name $myName }}
          <strong>{{ $name }}</strong>
        {{- else }}
          {{ $name }}
        {{- end }}
      {{- end -}}
    </span>
  {{- end -}}
{{ end }}
