<footer class="site-footer">
  {{ if or (site.GetPage "terms.md") (site.GetPage "privacy.md") }}
  <p class="powered-by">
    {{ with site.GetPage "privacy.md" }}
      {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
    {{ end }}
    {{ with site.GetPage "terms.md" }}
      {{ if site.GetPage "privacy.md" }} &middot; {{ end }}
      {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
    {{ end }}    
  </p>
  {{ end }}

  <p class="powered-by">
    {{ with site.Copyright }}{{ replace . "{year}" now.Year | markdownify}} &middot; Sen Zhao {{ end }}
  </p>

  <p class="powered-by">
    Powered with 
    <a href="https://wowchemy.com/" target="_blank" rel="noopener">Wowchemy</a>
  </p>

    <span class="float-left" aria-hidden="true"> 
      <script type="text/javascript" id="clstr_globe" 
        src="//clustrmaps.com/globe.js?d=C1DlDByu-2fApAO7ih9XyNNB7syFspDFBCnj--s0GXY&w=150&h=150">
      </script>

     </span>

    {{ if ne .Type "docs" }}
    <span class="float-right" aria-hidden="true">
      <a href="#" id="back_to_top">
        <span class="button_icon">
          <i class="fas fa-chevron-up fa-2x"></i>
        </span>
      </a>
    </span>
    {{ end }}
    
</footer>